<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>https://www.apple.com/kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>iCloud</string>
					</dict>
					<key>URLString</key>
					<string>https://www.icloud.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>Google</string>
					</dict>
					<key>URLString</key>
					<string>https://www.google.co.kr/?client=safari&amp;channel=mac_bm</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>네이버</string>
					</dict>
					<key>URLString</key>
					<string>https://www.naver.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>다음</string>
					</dict>
					<key>URLString</key>
					<string>https://www.daum.net</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>위키백과</string>
					</dict>
					<key>URLString</key>
					<string>https://ko.wikipedia.org</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>Facebook</string>
					</dict>
					<key>URLString</key>
					<string>https://www.facebook.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>트위터</string>
					</dict>
					<key>URLString</key>
					<string>https://twitter.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>LinkedIn</string>
					</dict>
					<key>URLString</key>
					<string>https://www.linkedin.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>네이트</string>
					</dict>
					<key>URLString</key>
					<string>https://www.nate.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>기상청</string>
					</dict>
					<key>URLString</key>
					<string>https://www.kma.go.kr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>ReadingListNonSync</key>
					<dict>
						<key>neverFetchMetadata</key>
						<true/>
					</dict>
					<key>URIDictionary</key>
					<dict>
						<key>title</key>
						<string>TripAdvisor</string>
					</dict>
					<key>URLString</key>
					<string>https://www.tripadvisor.co.kr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksBar</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
