<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.macromedia.Flash Player.plugin</key>
	<array>
		<string>2advanced.com</string>
		<string>360.cn</string>
		<string>9now.com.au</string>
		<string>abc.go.com</string>
		<string>abc.net.au</string>
		<string>acfun.tv</string>
		<string>arihirvonen.com</string>
		<string>armorgames.com</string>
		<string>au.tv.yahoo.com</string>
		<string>baidu.com</string>
		<string>bbc.co.uk</string>
		<string>beinsportsconnect.tv</string>
		<string>cbs.com</string>
		<string>channel4.com</string>
		<string>cinemax.com</string>
		<string>citicards.com</string>
		<string>clipfish.de</string>
		<string>crackle.com</string>
		<string>crunchyroll.com</string>
		<string>ctv.ca</string>
		<string>daisuki.net</string>
		<string>dalealplay.es</string>
		<string>deti.fm</string>
		<string>dilidili.com</string>
		<string>directv.com</string>
		<string>douyu.com</string>
		<string>event.on24.com</string>
		<string>ew.com</string>
		<string>filmon.com</string>
		<string>fox.com</string>
		<string>foxsportsgo.com</string>
		<string>freeform.go.com</string>
		<string>freeonlinegames.com</string>
		<string>fxnetworks.com</string>
		<string>go.cnn.com</string>
		<string>gyao.yahoo.co.jp</string>
		<string>hbonow.com</string>
		<string>home.nest.com</string>
		<string>homestarrunner.com</string>
		<string>iqiyi.com</string>
		<string>itv.com</string>
		<string>ke.qq.com</string>
		<string>kongregate.com</string>
		<string>kronos.samhealth.org</string>
		<string>ku6.com</string>
		<string>m.mlb.com</string>
		<string>maxgo.com</string>
		<string>mediathek.daserste.de</string>
		<string>miniclip.com</string>
		<string>mono-1.com</string>
		<string>moviestarplanet.co.uk</string>
		<string>music.163.com</string>
		<string>my5.tv</string>
		<string>myalex.com</string>
		<string>nasa.gov</string>
		<string>nascar.com</string>
		<string>nbc.com</string>
		<string>news.cctv.com</string>
		<string>news.yahoo.co.jp</string>
		<string>newshub.co.nz</string>
		<string>nfb.ca</string>
		<string>nhk-ondemand.jp</string>
		<string>nick.com</string>
		<string>nickjr.com</string>
		<string>nicolaconte.it</string>
		<string>nicovideo.jp</string>
		<string>onlinebanktours.com</string>
		<string>pandora.com</string>
		<string>pgatourlive.com</string>
		<string>photo.walgreens.com</string>
		<string>play.google.com</string>
		<string>play.hbogo.com</string>
		<string>play.spotify.com</string>
		<string>printonline.fedex.com</string>
		<string>scratch.mit.edu</string>
		<string>sfsymphony.org</string>
		<string>shahid.mbc.net</string>
		<string>sina.com.cn</string>
		<string>smotri.com</string>
		<string>southpark.cc.com</string>
		<string>sports.yahoo.co.jp</string>
		<string>stream.golfchannel.com</string>
		<string>stream.nbcsports.com</string>
		<string>syfy.com</string>
		<string>tenplay.com.au</string>
		<string>tetrisfriends.com</string>
		<string>tf1.fr</string>
		<string>therugbychannel.tv</string>
		<string>ticketmaster.com</string>
		<string>tinypic.com</string>
		<string>tommyheart.com</string>
		<string>tu.tv</string>
		<string>tubitv.com</string>
		<string>tudou.com</string>
		<string>tv.com</string>
		<string>tv.sohu.com</string>
		<string>tv.xfinity.com</string>
		<string>tvpot.daum.net</string>
		<string>ustream.tv</string>
		<string>uverse.com</string>
		<string>v.qq.com</string>
		<string>veoh.com</string>
		<string>video.fc2.com</string>
		<string>video.sina.com.cn</string>
		<string>viz.com</string>
		<string>vudu.com</string>
		<string>wasu.cn</string>
		<string>wechoosethemoon.org</string>
		<string>weibo.com</string>
		<string>worldsurfleague.com</string>
		<string>wowow.co.jp</string>
		<string>xiami.com</string>
		<string>y.qq.com</string>
		<string>youku.com</string>
		<string>yule.iqiyi.com</string>
	</array>
</dict>
</plist>
