<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalModifier</key>
	<dict>
		<key>CreationDate</key>
		<date>2022-03-10T02:24:19Z</date>
		<key>Modifier</key>
		<data>
		gG5Af5UiDCvZnZpOuDw+sQ==
		</data>
		<key>SecurityLevel</key>
		<integer>0</integer>
	</dict>
	<key>HostUUID</key>
	<data>
	xJWxNOqPXd+yzxK5DDJV7Q==
	</data>
	<key>InterfaceModifiers</key>
	<dict>
		<key>bridge0</key>
		<dict>
			<key>CreationDate</key>
			<date>2022-03-10T02:24:47Z</date>
			<key>Modifier</key>
			<data>
			alIrnuLxtl+R+yMnRYaqYg==
			</data>
			<key>SecurityLevel</key>
			<integer>0</integer>
		</dict>
		<key>en0</key>
		<dict>
			<key>CreationDate</key>
			<date>2022-03-10T02:24:47Z</date>
			<key>Modifier</key>
			<data>
			RPsxpo2Uf1Rhh5Y1A1ohWg==
			</data>
			<key>SecurityLevel</key>
			<integer>0</integer>
		</dict>
		<key>en3</key>
		<dict>
			<key>CreationDate</key>
			<date>2022-03-10T02:24:47Z</date>
			<key>Modifier</key>
			<data>
			eI+ZlsXhaATgzkyGSI07Gw==
			</data>
			<key>SecurityLevel</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>LinkLocalModifiers</key>
	<dict>
		<key>bridge0</key>
		<dict>
			<key>CreationDate</key>
			<date>2022-03-10T02:24:47Z</date>
			<key>Modifier</key>
			<data>
			Mf6gkBPJ3XPMPXdEC7lLYQ==
			</data>
			<key>SecurityLevel</key>
			<integer>0</integer>
		</dict>
		<key>en0</key>
		<dict>
			<key>CreationDate</key>
			<date>2022-03-10T02:24:47Z</date>
			<key>Modifier</key>
			<data>
			+EwD8EZdTaPcwr8w5CQtBA==
			</data>
			<key>SecurityLevel</key>
			<integer>0</integer>
		</dict>
		<key>en3</key>
		<dict>
			<key>CreationDate</key>
			<date>2022-03-10T02:24:47Z</date>
			<key>Modifier</key>
			<data>
			qiwH2RvErQdVw55mXaAfvw==
			</data>
			<key>SecurityLevel</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
