<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DUID</key>
	<data>
	AAEAASm8Hfw8IvsGQ+E=
	</data>
	<key>HostUUID</key>
	<data>
	xJWxNOqPXd+yzxK5DDJV7Q==
	</data>
</dict>
</plist>
